{% extends 'base.html' %}

{% block content %}
    <form method='POST' action="{% url 'addPassword' %}" class="w-full">
        {% csrf_token %}
        <div class="w-full flex gap-5 my-5">
            {{form.name}}
            {{form.url}}
        </div>
        <div class="w-full flex space-x-5 my-5">
            {{form.password}}
            <button type="button" class="btn btn-soft btn-warning" onclick="generatePassword()">Generate Password...</button>
        </div>
        <button class="btn btn-warning w-full my-5" type="submit">Submit</button>
        <a href="{% url 'dashboard' %}" class="btn btn-soft btn-accent w-full">Retour</a>
    </form>
{% endblock %}